<hr/>{{ name }}<br/>
<hr/>

{% if error %}
{{ error }}
{% else %}
<table class="iTable">
        {% if etcd_data %}
        <tr>
        <th>Endpoint</th>
        {% for d in etcd_data.keys() %}
        <th>{{ d }}</th>
        {% endfor %}
        </tr>
        {% set a_key = (etcd_data.keys() | list) | last %}
        {% for ep in etcd_data[a_key].keys() %}
        <tr>
        <td>{{ ep }}</td>
        {% for k,v in etcd_data.items() %}
        <td>{{ v[ep]["show"] }}</td>
        {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
</table>
{% endif %}
