<hr/>{{ name }}<br/>
<hr/>
<table class="iTable">

<tr><th>flow</th><th>timestamp</th></tr>
    {% if flows %}
        {% for flow in flows %}
	<tr>
	  <td><pre>{{ flow.id }}</pre></td>
	  <td><pre>{{ flow.ts }}</pre></td>
	  <td>
            <form action="javascript:void(0);" method="post">
              <input type="hidden" name="flowX" value="{{ flow.id }}" />
              <button type=submit onclick='trigger_backend("get_flow", {"flow": "{{ flow.id }}"});return false;'>fetch</button>
            </form>
	  </td>
	</tr>
        {% endfor %}
    {% endif %}
</table>
