{% extends "base.html" %}

{% block title %}
  <title>Infopage</title>
{% endblock %}

{% block content %}
  <div class="container" id="TabsSystem">
    <div class="d-flex">
      <div class="d-flex text-center">
        <div class="TabButton active" data-tab="software">Software</div>
        <div class="TabButton" data-tab="services">Services</div>
        <div class="TabButton" data-tab="status">Status</div>
        <div class="TabButton" data-tab="status">Flows</div>
      </div>
    </div>

    <div class="d-flex-col">

      <div class="d-flex">
        <div class="tab-section active" data-tab="software" itemprop="load" value="/registry_images"></div>
        <div class="tab-section active" data-tab="software" itemprop="load" value="/software"></div>
      </div>

      <div class="d-flex">
        <div class="tab-section" data-tab="services" itemprop="load" value="/virtual_services"></div>
      </div>

      <div class="d-flex-col">
        <div class="d-flex">
          <div class="tab-section" data-tab="status" itemprop="load" value="/node_status"></div>
          <div class="tab-section" data-tab="status" itemprop="load" value="/test_results"></div>
        </div>
        <div class="tab-section" data-tab="status" itemprop="load" value="/services_status"></div>
      </div>
      <div class="d-flex-col">
        <div class="d-flex">
          <div class="tab-section" data-tab="status" itemprop="load" value="/flow_list"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block style %}
<style>
/* --- Layout Utilities --- */
.container,
.d-flex,
.d-flex-col {
  width: 100%;
}
.d-flex {
  display: flex;
  gap: 1rem
}
.d-flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem
}
.text-center {
  text-align: center;
}

/* --- Tabs System Base --- */
#TabsSystem .TabButton {
  width: 100%;
  color: #5A5A61;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #FFFFFF;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  padding: 16px;
  cursor: pointer;
}
.tab-section {
  display: none;
  flex: 1;
}

/* --- Active Tab States --- */
#TabsSystem .TabButton.active {
  color: #7A1315;
  border-bottom-color: #C94927;
  font-weight: 500;
}
.tab-section.active {
  display: block;
}

table {
  border-collapse: collapse;
}
.iTable,
.iTable th,
.iTable td {
  border: 1px solid;
}
</style>
{% endblock %}
